## Standart gitignore configuration file.
## Copyright (c) 2024, Toshi Namura

### Visual Studio db
/.vs

### 
/desktop.ini

### 
/.gitattributes

###
/.build

###
/.fabric
/config
/defaultconfigs
/modernfix
/logs
/saves
/data
/journeymap
/crash-reports
/schematics

### 
/irisUpdateInfo.json
/servers.dat
/servers.dat_old
/usercache.json
/usernamecache.json
/start.bat