## Standart gitignore configuration file.
## Copyright (c) 2024, Toshi Namura

### Visual Studio db
/.vs

### 
/desktop.ini

### 
/.gitattributes

###
/.build

###
/.fabric
/logs
/saves
/data
/journeymap

### 
/irisUpdateInfo.json
/servers.dat
/servers.dat_old
/usercache.json